{# Table of contents partial (Feature f048).
   Include in any template: {% include "toc.html.jinja" %}
   Requires page.toc in the template context. #}
{% if page.toc %}
<nav class="toc" aria-label="Table of contents">
    <h4>On this page</h4>
    <ul>
    {% for entry in page.toc %}
        <li class="toc-level-{{ entry.level }}">
            <a href="#{{ entry.id }}">{{ entry.text }}</a>
        </li>
    {% endfor %}
    </ul>
</nav>
{% endif %}
